{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    
    <div class="searchbar">
    <form class="d-flex" action='' method = "POST">
      <input class="form-control me-2" type="search" placeholder="Search Items" aria-label="Search" name="search">
      <button   class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>

    <br>
    <br>

    
    <h2 id="popular">Best Sellers </h2>

    <br>
    
    <div class="cards">
      <div class="card">
          <div class="img">
            <a href="product/101"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhPBAcLteSyhRo502gW7whHVfZjvyB0JGJWw&usqp=CAU" height="225px" width="200px"/> </a>
          </div>
          <br>
          <div class="pname">Apple</div>
          <div class="pweight"> Quantity:550-640g</div>
          <div class="pprice">Price:150</div>
        </div>
        <div class="card">
            <div class="img">
              <a href="product/102"><img src="https://admin.tajataji.com/upload/images/6467-2021-03-04.jpg" height="225px" width="200px"/></a>
            </div>
            <br>
            <div class="pname">Tomato</div>
            <div class="pweight">Quantity:1Kg</div>
            <div class="pprice">Price:170</div>
          </div>
          
          <div class="card">
            <div class="img">
              <a href="product/103"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG420_sQR-DLk8ziBkV5E8XCDSXGe5evKarQ&usqp=CAU" height="225px" width="200px"/></a>
            </div>
            <br>
            <div class="pname">BRU</div>
            <div class="pweight">Quantity:500g</div>
            <div class="pprice">Price:410</div>
          </div>
    
          <div class="card">
            <div class="img">
             <a href="product/104"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr-C00LLSJ0LG1_ubnDz6PPI2UemyabaoVqw&usqp=CAU" height="225px" width="200px"/></a>
            </div>
            <br>
            <div class="pname">Surf Excel Bar</div>
            <div class="pweight">Quantity:80 g</div>
            <div class="pprice">Price:10</div>
          </div>
          
    </div>
    <br>
    <br>

    <h2 id="popular">Shop by Categories </h2>

    <br>
    <div class="cards">
      <div class="card">
          <div class="img">
            <a href="sections/1"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Culinary_fruits_front_view.jpg/500px-Culinary_fruits_front_view.jpg" height="225px" width="200px"/> </a>
          </div>
          <br><br>
          <div class="sname">Fruits</div>
        </div>
        <div class="card">
            <div class="img">
              <a href="sections/2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkO-NqXnlB1AcTWhQws_8Fs4uhwwIVcTJwEA&usqp=CAU" height="225px" width="200px"/></a>
            </div>
            <br><br>
            <div class="sname">Vegetables</div>
          </div>
          <div class="card">
            <div class="img">
                <a href="sections/3"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg0pKhANAaqjlxv8-HgcfLMYCmBiAzmiDMJA&usqp=CAU" height="225px" width="200px"/></a>
            </div>
            <br><br>
            <div class="sname">Tea and Coffee</div>
          </div>
          
          <div class="card">
            <div class="img">
                <a href="sections/4"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7AbYv4EV__RrjVdndr8gFz6CEFpm1graieQ&usqp=CAU" height="225px" width="200px"/></a>
            </div>
            <br><br>
            <div class="sname">Detergents and Fabrics</div>
          </div>
    
          </div>
          
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  
    



































    
    {% endblock %}
    